<html>
<head>
    <title>Booking</title>
    <link rel="stylesheet" type="text/css" href="/add_form.css">
    <link rel="stylesheet" type="text/css" href="/common.css">

     <style>
     input[type=submit], a {
         background-color: black;
         border: none;
         color: white;
         width: 250px;
         font-size: 18px;
         text-decoration: none;
         display: inline-block;
       }</style>

</head>

<body>
<!--to display errors-->
    <br>
    <h4 class='error'> $errorMsg </h4>

<div class='container'>
        <div class='container-left'>
            <h1 class='heading'> Make Your<br> Reservation Here</h1>
        </div>

        <div class='container-form'>
            <form action='#' method='post'>
                <h2 class='heading heading yellow'>Reservation Form</h2>
                    <h3 class='title'>
                        #if($isUpdate)
                            Update reservation
                        #else
                            Add new reservation
                        #end
                    </h3>

         <div class='form-field'>
             #if($isUpdate)
                 <tr>
                    <td> Id: </td>
                    <td> <input type='text' name='generatedId' value='$!prevId' readonly> </td>
                 </tr>
             #end
         </div>

         <div class='form-field'>
            <tr>
                <td> Client: </td>
                <td>
                    <select name='clientId'>
                        #foreach ($client in $clients)
                            <option value='$client.id'  #if($prevClientId==$client.id) selected #end > $client.name </option>
                        #end
                    </select>
                </td>
            </tr>
         </div>

         <div class='form-field'>
            <tr>
                <td> Start date: </td>
                <td> <input type='date' name='startDate' value='$prevStartDate' min='$todayDate' required> </td>
            </tr>

         </div>
            <div class='form-field'>
            <tr>
                <td> End date: </td>
                <td> <input type='date' name='endDate' value='$prevEndDate' min='$todayDate' required> </td>
            </tr>
         </div>

         <div class='form-field'>
            <tr>
                 <td> Type of room: </td>
                 <td>
                      <select name='roomType'  onchange='myFunction()'>
                            <option value='SINGLE'   #if($prevRoomType=='SINGLE')   selected #end > SINGLE </option>
                            <option value='DOUBLE' #if($prevRoomType=='DOUBLE') selected #end > DOUBLE </option>
                            <option value='TWIN' #if($prevRoomType=='TWIN') selected #end > TWIN </option>
                            <option value='APARTMENT' #if($prevRoomType=='APARTMENT') selected #end > APARTMENT </option>
                      </select>
                       <script>
                       function myFunction() {
                         document.getElementById('serverAction').value = 'refresh';
                         document.getElementById('submitBtn').click();
                       }
                       </script>


                 </td>
            </tr>
         </div>

         <div class='form-field'>
            <tr>
                <td> Room number: </td>
                <td>
                    <select name='roomNumber'>
                     #foreach ($room in $roomsOfType)
                              <option value='$room.number'  #if($prevRoomNumber==$room.number) selected #end > $room.number </option>
                     #end
                     </select>
                </td>
            </tr>
         </div>

         <div class='form-field'>
            <tr>
                <td> Extra Info (optional): </td>
                <td> <input type='text' name='extraInfo' value='$prevExtraInfo'> </td>
            </tr>
         </div>

         <div class='form-field'>
            <tr>
                <td> Payment Method: </td>
                <td>
                    <select name='paymentMethod'>
                        <option value="CARD"   #if($prevPaymentMethod=='CARD')   selected #end > Card </option>
                        <option value="CASH" #if($prevPaymentMethod=='CASH') selected #end > Cash </option>
                    </select>
                </td>
            </tr>
         </div>

         <div class='form-field'>
            #if($isUpdate)
            <tr>
                <td> Date of Reservation: </td>
                <td> <input type='date' name='createdAt' value='$prevCreatedAt' readonly> </td>
            </tr>
            #end
         </div>

         <div class='buttons'>
            <tr>
                <td> <a href='/main'> Cancel </a> </td>
            </div>
         <div class='buttons'>

               <td> <input type='submit' id='submitBtn' value='#if($isUpdate) Update #{else} Add #end'> </td>
                </td>

            </tr>
        </div>

    </form>

</body>
</html>