<html>
<head>
    <link rel="stylesheet" type="text/css" href="/add_form.css">
    <link rel="stylesheet" type="text/css" href="/common.css">

    <style>
    input[type=submit], a {
        background-color: black;
                border: none;
                color: white;
                width: 250px;
                font-size: 18px;
                text-decoration: none;
                display: inline-block;
                font-family: inherit;
      }</style>
</head>
<body>
    <br><h4 class='error'> $errorMsg </h4>

    <div class='container-others'>
        <div class='container-form-add'>
             <h3 class='title'>
        #if($isUpdate)
            Update room
        #else
            Add new room
        #end
            </h3>

    <form action='#' method='post'>

         <div class='form-field'>
            #if($isUpdate)
               Number:
              <input type='text' name='number' value='$!prevNumber' readonly>
            #end
        </div>

        <div class='form-field'>
                Room Type:
                <select name='roomType'>
                         <option value="DOUBLE"   #if($prevPriority=='DOUBLE')   selected #end > Double </option>
                         <option value="SINGLE" #if($prevPriority=='SINGLE') selected #end > Single </option>
                         <option value="TWIN"    #if($prevPriority=='TWIN')    selected #end > Twin </option>
                         <option value="APARTMENT"    #if($prevPriority=='APARTMENT')    selected #end > Apartment </option>
                </select>
        </div>

        <div class='form-field'>
                Extra Information:
                <input type='text' name='extraInfo' value='$prevExtraInfo'>
        </div>

        <div class='buttons'>
                <input type='submit' value='#if($isUpdate) Update #{else} Add #end'>
        </div>

        <div class='buttons'>
                <a href='/rooms' class='button'> Cancel </a>
        </div>
        </container-form>
    </form>

</body>
</html>