<html>
<head>
    <link rel="stylesheet" type="text/css" href="/common.css">
    <link rel="stylesheet" type="text/css" href="/add.css">
</head>


<body>

    <br>

    <h3 class='title'>
        #if($isUpdate)
            Update room
        #else
            Add new room
        #end
    </h3>

    <h4 class='error'> $errorMsg </h4>

    <form method='post'>
        <table>

            #if($isUpdate)
            <tr>
                <td> Number: </td>
                <td> <input type='text' name='number' value='$!prevNumber' readonly> </td>
            </tr>
                #end

            <tr>
                <td> Room Type: </td>
                <td>
                <select name='roomType'>
                         <option value="DOUBLE"   #if($prevPriority=='DOUBLE')   selected #end > Double </option>
                         <option value="SINGLE" #if($prevPriority=='SINGLE') selected #end > Single </option>
                         <option value="TWIN"    #if($prevPriority=='TWIN')    selected #end > Twin </option>
                         <option value="APARTMENT"    #if($prevPriority=='APARTMENT')    selected #end > Apartment </option>
                 </select>
            </tr>

            <tr>
                <td> Extra Information: </td>
                <td> <input type='text' name='extraInfo' value='$prevExtraInfo' > </td>
            </tr>

            <tr>
                <td> <button onclick="location.href='/rooms'" type="button"> Cancel </button> </td>
                <td> <input type='submit' value='#if($isUpdate) Update #{else} Add #end'> </td>
            </tr>
        </table>
    </form>

</body>
</html>