<html>
<head>
    <title>Booking</title>
    <link rel="stylesheet" type="text/css" href="/new.css">
    <link rel="stylesheet" type="text/css" href="/common.css">
</head>

<body>
    <br>



<!--to display errors-->
    <h4 class='error'> $errorMsg </h4>

<div class='container'>
        <div class='container-left'>
            <h1 class='heading'> Make Your<br> Reservation Here</h1>
        </div>

        <div class='container-form'>
            <form action='#' method='post'>
                <h2 class='heading heading yellow'>Reservation Form</h2>
                    <h3 class='title'>
                        #if($isUpdate)
                            Update reservation
                        #else
                            Add new reservation
                        #end
                    </h3>

                <div class='form-field'>
                    #if($isUpdate)
                    <tr>
                        <td> Id: </td>
                        <td> <input type='text' name='generatedId' value='$!prevId' readonly> </td>
                    </tr>
                    #end
                 </div>

            <div class='form-field'>
            <tr>
                <td> Client: </td>
                <td>
                    <select name='clientId'>
                        #foreach ($client in $clients)
                            <option value='$client.id'  #if($prevClientId==$client.id) selected #end > $client.name </option>
                        #end
                    </select>
                </td>
            </tr>

            </div>
            <div class='form-field'>
            <tr>
                <td> Start date: </td>
                <td> <input type='date' name='startDate' value='$prevStartDate' min='$todayDate' required> </td>
            </tr>

            </div>
            <div class='form-field'>
            <tr>
                <td> End date: </td>
                <td> <input type='date' name='endDate' value='$prevEndDate' min='$todayDate' required> </td>
            </tr>
            </div>

            <div class='form-field'>
            <tr>
                <td> Room: </td>
                <td> <input type='number' name='roomNumber' value='$!prevRoomNumber' min='1' max='16' required> </td>
            </tr>
            </div>

            <div class='form-field'>
            <tr>
                <td> Extra Info (optional): </td>
                <td> <input type='text' name='extraInfo' value='$prevExtraInfo'> </td>
            </tr>
            </div>

            <div class='form-field'>
            <tr>
                <td> Payment Method: </td>
                <td>
                    <select name='paymentMethod'>
                        <option value="CARD"   #if($prevPaymentMethod=='CARD')   selected #end > Card </option>
                        <option value="CASH" #if($prevPaymentMethod=='CASH') selected #end > Cash </option>
                    </select>
                </td>
            </tr>
            </div>

            <div class='form-field'>
            #if($isUpdate)
            <tr>
                <td> Date of Reservation: </td>
                <td> <input type='date' name='createdAt' value='$prevCreatedAt' readonly> </td>
            </tr>
            #end
            </div>

            <div class='buttons'>
            <tr>
                <td> <a href='/main'> Cancel </a> </td>
            </div>
            <div class='buttons'>
                <td> <input type='submit' value='#if($isUpdate) Update #{else} Add #end'> </td>

            </tr>
            </div>
    </form>

</body>
</html>