<html>
<head>
    <link rel="stylesheet" type="text/css" href="/common.css">
    <link rel="stylesheet" type="text/css" href="/tables.css">

    <style>
        a { text-decoration: none; }
      </style>
</head>


<body>
     <ul>
      <li><a href="/main">Reservations</a></li>
      <li><a href="/rooms">Rooms</a></li>
      <li><a href="/clients">Clients</a></li>
    </ul>

    <button class="plus-button">
    <a href='/add_client'> + </a>
    </button>

    <table>

        <tr>
            <th> Id </th>
            <th> Name </th>
            <th> Email </th>
            <th> Address </th>
        </tr>

        #foreach($client in $clients)
            <tr>
                <td width=15% align=center>
                    $client.id
                </td>
                <td width=15% align=center>
                    $client.name
                </td>
                <td width=15% align=center>
                    $client.email
                </td>
                <td width=20% align=center>
                    $client.address
                </td>
                <td width=10% align=center>
                    <a href='/delete_client/$client.id' onclick="return confirm('Are you sure you want to delete client with id $client.id ?')">
                        Delete
                    </a>
                </td>
                <td width=10% align=center>
                    <a href='/update_client/$client.id'>
                        Edit
                    </a>
                </td>
            </tr>
        #end

    </table>

</body>
</html>