<html>
<head>
    <title>My Awesome App</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>

<body>

    <img src="/logo.png">

    <h1> Web page example </h1>

    <!-- example of using some data set in Velocity model, by Java code -->
    Time from server: $serverTime <br>

    <br>
    <a href="/main"> Refresh page </a> <br>
    <br>
    <a href="/time"> Get time in JSON format </a>

</body>
</html>