<html>
<head>
    <link rel="stylesheet" type="text/css" href="/common.css">
    <link rel="stylesheet" type="text/css" href="/tables.css">
</head>


<body>
  <ul>
      <li><a href="/main">Reservations</a></li>
      <li><a href="/rooms">Rooms</a></li>
      <li><a href="/clients">Clients</a></li>
  </ul>
    <table>

        <tr>
            <th> Type </th>
            <th> Price </th>
            <th> Capacity </th>
        </tr>

        #foreach($roomType in $roomTypes)
            <tr>
                <td width=5% align=center>
                    $roomType.type

                </td>
                <td width=15% align=center>
                    $roomType.price $
                </td>
                <td width=15% align=center>
                    $roomType.capacity persons
                </td>
            </tr>
        #end

    </table>
</body>
</html>