<html>
<head>
    <link rel="stylesheet" type="text/css" href="/common.css">
    <link rel="stylesheet" type="text/css" href="/main.css">

    <style>
        a { text-decoration: none; }
      </style>
</head>


<body>
     <ul>
      <li><a href="/main">Reservations</a></li>
      <li><a href="/rooms">Rooms</a></li>
      <li><a href="/clients">Clients</a></li>
      <li><a href='/roomTypes'>Room types</a></li>
    </ul>

        <button class="plus-button">
    <a href='/add_room'> + </a>
        </button>

    <table>
        <tr>
            <th> Number </th>
            <th> Room Type </th>
            <th> Extra Information </th>
        </tr>

            #foreach($room in $rooms)
                <tr>
                <td width=5% align=center>

                     $room.number
                 </a>

                </td>
                <td width=15% align=center>
                    $room.roomType
                </td>

                <td width=15% align=center>
                    $room.extraInfo
                </td>

                <td width=10% align=center>
                    <a href='/delete_room/$room.number' onclick="return confirm('Are you sure you want to delete room with number $room.number ?')">
                        Delete
                    </a>
                </td>

                <td width=10% align=center>
                <a href='/update_room/$room.number' title='Update'>Edit</a>
            </tr>
        #end

    </table>
</body>
</html>