<html>
<head>
    <link rel="stylesheet" type="text/css" href="/common.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>


<body>

    <a href='/add_room'> Add new room </a>
    <table>
        <tr>
            <th> Number </th>
            <th> Room Type </th>
            <th> Extra Information </th>
        </tr>

        #foreach($room in $rooms)
            <tr>
                <td width=5% align=center>
                 <a href='/update_room/$room.number' title='Update'>
                     $room.number
                 </a>

                </td>
                <td width=15% align=center>
                    $room.roomType
                </td>

                <td width=15% align=center>
                    $room.extraInfo
                </td>

                <td width=10% align=center>
                    <a href='/delete_room/$room.number' onclick="return confirm('Are you sure you want to delete room with number $room.number ?')">
                        Delete
                    </a>
                </td>
            </tr>
        #end

    </table>
    <a href='/main'> Back to reservations </a>
    <br>
    <td> <button onclick="location.href='/main'" type="button"> Back </button> </td>
    <br>
    <a href='/roomTypes'> View Room types </a>

</body>
</html>