    body{
        background-color: #faf4e8;
        background-image: url('new.jpg');
    }

    .title {
         color: grey;
    }

    .error {
        font-size: 25px;
        color: red;
        text-align: center;

    }