table, th, td {
    border: 1px solid black;
}

table {
    background-color: #fafafa;
        margin: 100px;
        box-shadow: rgba(0, 0, 0, .1);
        display: grid;
    border-collapse: collapse;
    width: 90%;
    margin: 100px;
}

th {
    color: #3333cc;
}

td {
    padding: 5px;
}