table, th, td {
    border: 1px solid black;
}

table {
    background color: blue;
    border-collapse: collapse;
    width: 90%;
    margin: 100px;
}

th {
    color: #3333cc;
}

td {
    padding: 5px;
}